/* TABLE OF CONTENTS
---------------------
#1 - CSS Variables
     Color Palette
     Document Fonts
---------------------
#2 - Universal Document Properties
    HTML, Body
    h1, h2
    .underline
    a
---------------------
#3 - Navigation
    Navigation Logo
    Navigation Conainer
    Top Nav Items
---------------------
#4 - Header (Home)
---------------------
#5 - Buttons
---------------------
#6 - Demo Video (Home Page)
---------------------
#7 - Time Section (Home Page)
---------------------
#8 - Works with Brand (Home Page)
---------------------
#9 - 
---------------------
#10 - 
---------------------
*/

/* #1 - CSS Variables */

:root {
    /* Color Palette */
    --bright-green: #20DFAC;
    --black: #001F35;
    --borders: rgba(0, 0, 0, 0.05);
    --light-grey: #F3F6F9;
    --text: #52565C;
    --labels: #6A7077;
    --blue: #2687D0;
    --yellow: #FFD595;
    --white: #FFFFFF;
    --lighter-dark: rgba(49, 74, 92, 0.5);

    /* Document Fonts */
    --font: 'Darker Grotesque', sans-serif;
    --heavy: 700;
    --regular: 400;
}

/* #2 - Universal Document Properties */

html, body {
    font-family: var(--font);
    font-style: normal;
    font-weight: var(--regular);
    color: var(--black);
    font-size: 24px;
    line-height: 140%;
    width: 100%;
    height: 100%;
}

h1, h2 {
    font-family: var(--font);
    font-style: normal;
    font-weight: var(--heavy);
    font-size: 50px;
    line-height: 110%;
}

.underline {
    text-decoration: underline solid var(--borders);
    text-decoration-thickness: 8px;
}

a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none
}

/* #3 - Navigation */

/* Navigation Logo */
.logo {
    width: 93px;
    height: 26px;
    display: inline-block;
    padding-top: 16px;
    padding-right: 16px;
}

.logo a:hover, .logo a:focus {
    opacity: 0.5;
}

/* Navigation Conainer */
nav {
    width: 100%;
    height: 64px;
    background-color: var(--black);
    margin: auto;
    text-align: center;
}

.navigation-container {
    width: 1200px;
    display: inline-block;    
}

@media only screen and (max-width: 1200px) {
    .navigation-container {
        width: 960px
    }
}

@media only screen and (max-width: 960px) {
    .navigation-container {
        width: 768px
    }
}

@media only screen and (max-width: 768px) {
    .navigation-container {
        width: 550px;
    }
}

@media only screen and (max-width: 550px) {
    .navigation-container {
        width: 380px;
    }
}

@media only screen and (max-width: 380px) {
    .navigation-container {
        width: 320px
    }
}

.nav-item {
    display: inline-block;
    padding: 10px 16px 0 16px;
}

.nav-item-active {
    display: inline-block;
    padding: 0 15px 0 15px;
}

.nav-item a, .nav-item a:link, .nav-item a:visited, .nav-item a:active {
    color: var(--white);
    opacity: 0.5;
    font-size: 18px;
}

.nav-item a:hover, .nav-item a:focus {
    color: var(--bright-green);
    opacity: 1;
    font-weight: var(--heavy);
}

.nav-item-active a, .nav-item-active a:link, .nav-item-active a:visited, .nav-item-active a:active {
    color: var(--bright-green);
    opacity: 1;
    font-size: 18px;
    font-weight: var(--heavy);
}

.nav-item-active a:hover, .nav-item a:focus {
    color: var(--white);
    opacity: 0.5;
}

.left-nav, .logo-nav {
    float: left;
}

.right-nav {
    float: right;
}

/* #4 - Home Header */

#home-header {
    width: 100%;
    background-color: var(--black);
    text-align: center;
    margin: auto;
}

.header-container {
    width: 1200px;
    display: inline-block;
    padding: 150px 0 150px 0;
}

.header-content-container h1 {
    color: var(--white);
    width: 800px;
    margin: auto;
    padding-bottom: 20px;
}

.header-content-container p {
    color: var(--white);
    opacity: 0.5;
    width: 600px;
    margin: auto;
    padding-bottom: 32px;
}

@media only screen and (max-width: 1200px) {
    .header-container {
        width: 960px
    }
}

@media only screen and (max-width: 960px) {
    .header-container {
        width: 768px
    }
}

@media only screen and (max-width: 768px) {
    .header-container {
        width: 550px;
    }
}

@media only screen and (max-width: 550px) {
    .header-container {
        width: 380px;
    }
}

@media only screen and (max-width: 380px) {
    .header-container {
        width: 320px
    }
}

/* #5 - Buttons */

.learn-more-btn, .how-work-btn {
    text-align: center;
    line-height: 21.6px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    margin: 0 12px 0 12px;
}

.learn-more-btn {
    background-color: var(--bright-green);
    color: var(--black);
    width: 123px;
    height: 44px;
}

.learn-more-btn:hover, .learn-more-btn:focus, .learn-more-btn:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--bright-green);
}

.how-work-btn {
    background: rgba(0, 0, 0, 0.5) url('../images/play-icon.svg') no-repeat center left;
    color: var(--bright-green);
    width: 163px;
    height: 45px;
    padding-left: 25px;
}

.how-work-btn:hover, .how-work-btn:focus {
    background: var(--bright-green) url('../images/play-icon-black.svg') no-repeat center left;
    color: var(--black);
}

/* #6 - Demo Video */

.video-container {
    width: 100%;
    background: linear-gradient(to bottom, var(--black) 0%,var(--black) 50%, var(--black) 50%,var(--white) 50%,var(--white) 100%);
    margin: auto;
    text-align: center;
}

.demo-video {
    background-color: var(--light-grey);
    margin: auto;
    width: 1200px;
    height: 660px;
    border-radius: 4px;
    border: 1px solid #DFE5EC;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05));
}

.demo-text, .demo-text:active, .demo-text:visited, .demo-text:link {
    color: var(--text);
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    display: block;
}

.demo-text:hover, .demo-text:focus {
    color: var(--bright-green)
}

/* #7 - Time Section  */

.time-section-container {
    width: 100%;
    padding: 100px 0 100px 0;
    background-color: var(--white);
}

.time-container {
    width: 1200px;
    margin: auto;
    display: flex;
}

.time-content {
    width: 730px;
    order: 2;
    padding-top: 90px;
}

.bar-graph-container {
    width: 470px;
    order: 1;
    display: flex;
}

.manual-graph-container {
    margin-right: 36px;
}

.manual-graph {
    text-align: center;
    background-color: #F7F9FB;
    width: 168px;
    height: 338px;
    position: relative;
    order: 1;
    border-radius: 4px;
}

.manual-graph p {
    position: absolute;
    bottom: 0;
    left: 23px;
    font-weight: bold;
    font-size: 22px;
    width: 120px;
    line-height: 120%;
    padding-bottom: 22px;
}

.matik-graph {
    text-align: center;
    background: linear-gradient(to bottom, var(--white) 0%,var(--white) 50%, var(--white) 68%,var(--bright-green) 32%,var(--bright-green) 100%);
    width: 168px;
    height: 338px;
    position: relative;
    order: 2;
    border-radius: 4px;
}

.matik-graph p {
    position: absolute;
    bottom: 0;
    left: 23px;
    font-weight: bold;
    font-size: 22px;
    width: 120px;
    line-height: 120%;
    padding-bottom: 22px;
}

.matik-graph-logo {
    width: 60px;
    height: 60px;
    border: var(--white) solid 4px;
    border-radius: 50px;
    background-color: var(--bright-green);
    position: absolute;
    bottom: 80px;
    left: 50px;
    background: var(--bright-green) url("../images/logo-white.svg") no-repeat center center;
}

.graph-label {
    text-align: center;
    font-size: 16px;
    line-height: 110%;
    color: var(--labels);
    padding-top: 10px;
}

.time-quote-container {
    border-top: var(--light-grey) solid 1px;
    padding-top: 25px;
    margin-top: 25px;
}

.time-quotation {
    color: var(--labels);
    font-size: 32px;
    font-weight: var(--regular)
}

.time-quote {
    color: var(--black);
    font-size: 24px;
    line-height: 31px;
    font-weight: var(--regular);
}

.time-quote-attribute-container {
    display: flex;
    padding-top: 16px
}

.time-attribute-name-container {
    order: 2;
    color: var(--text);
    font-size: 16px;
    line-height: 22.4px;
    padding-left: 10px;
}

.envoy-logo {
    order: 1;
    width: 33px;
    height: 38px;
    border: #EF3934 solid 2px;
    border-radius: 4px;
    background: var(--white) url("../images/envoy-logo.svg") no-repeat center center;
}

/* #8 - Works with Brand */

.brand-container {
    width: 100%;
    background-color: #F7F9FB;
    padding: 100px 0 100px 0;
}

.brand-content-container {
    width: 1200px;
    margin: auto
}

.brand-h2 {
    width: 570px;
}

.brand-sub-text {
    width: 570px;
    font-size: 24px;
    line-height: 33px;
    font-weight: var(--regular);
    color: var(--text);
    padding: 16px 0 30px 0
}